
*.tbi
*.gz
/dependencies/*/
/dependencies/*
*.zip
*.bz2
dependencies/agilent.bed
*.swp
*.bgz
*.bed
*.jar
dependencies/1000Geuro.txt
*.so
src/agilent.bed
output/test.pdf
output/test
*.fasta
*.dict
*.fai
*.vcf
*.csi
*.idx
*.bedtoolsrun
src/=
*.7z
src/1000gvcf/hs_err_pid1164.log
src/march13th2018_option1_test.adj.fam
src/march13th2018_option1_test.vcf.2
src/march13th2018_option1_test.log
src/march13th2018_option1_test.vcf.noMissXY.log
src/march13th2018_option1_test.vcf.SetID
input/merge/temp/sedSiFwux
input/merge/temp/sede8QLgd
output/*
input/*
*.tmp
output/20180423_lowVShighHDLexome_option1a.SetID
output/20180423_lowVShighHDLexome_option1a.adj.fam
output/20180423_lowVShighHDLexome_option1a.log
output/20180423_lowVShighHDLexome_option1a.noMissXY.log
output/20180423_lowVShighHDLexome_option1a.bim
output/20180423_lowVShighHDLexome_option1a.fam
output/20180423_lowVShighHDLexome_option1a.noMissXY.map
output/20180423_lowVShighHDLexome_option1a.noMissXY.ped
output/20180423_lowVShighHDLexome_option1a.nosex
src/1000gvcf/tempcom
src/1000gvcf/ALL.chr01.phase3_shapeit2_mvncall_integrated_v5a.20130502.genotypes.vcf.gz.log
src/1000gvcf/ALL.chr02.phase3_shapeit2_mvncall_integrated_v5a.20130502.genotypes.vcf.gz.log
src/1000gvcf/ALL.chr03.phase3_shapeit2_mvncall_integrated_v5a.20130502.genotypes.vcf.gz.log
src/1000gvcf/ALL.chr04.phase3_shapeit2_mvncall_integrated_v5a.20130502.genotypes.vcf.gz.log
src/1000gvcf/ALL.chr05.phase3_shapeit2_mvncall_integrated_v5a.20130502.genotypes.vcf.gz.log
src/1000gvcf/ALL.chr06.phase3_shapeit2_mvncall_integrated_v5a.20130502.genotypes.vcf.gz.log
src/1000gvcf/ALL.chr07.phase3_shapeit2_mvncall_integrated_v5a.20130502.genotypes.vcf.gz.log
src/1000gvcf/ALL.chr08.phase3_shapeit2_mvncall_integrated_v5a.20130502.genotypes.vcf.gz.log
src/1000gvcf/ALL.chr09.phase3_shapeit2_mvncall_integrated_v5a.20130502.genotypes.vcf.gz.log
src/1000gvcf/ALL.chr10.phase3_shapeit2_mvncall_integrated_v5a.20130502.genotypes.vcf.gz.log
src/1000gvcf/ALL.chr11.phase3_shapeit2_mvncall_integrated_v5a.20130502.genotypes.vcf.gz.log
src/1000gvcf/ALL.chr12.phase3_shapeit2_mvncall_integrated_v5a.20130502.genotypes.vcf.gz.log
src/1000gvcf/ALL.chr13.phase3_shapeit2_mvncall_integrated_v5a.20130502.genotypes.vcf.gz.log
src/1000gvcf/ALL.chr14.phase3_shapeit2_mvncall_integrated_v5a.20130502.genotypes.vcf.gz.log
src/1000gvcf/ALL.chr15.phase3_shapeit2_mvncall_integrated_v5a.20130502.genotypes.vcf.gz.log
src/1000gvcf/ALL.chr16.phase3_shapeit2_mvncall_integrated_v5a.20130502.genotypes.vcf.gz.log
src/1000gvcf/ALL.chr17.phase3_shapeit2_mvncall_integrated_v5a.20130502.genotypes.vcf.gz.log
src/1000gvcf/ALL.chr18.phase3_shapeit2_mvncall_integrated_v5a.20130502.genotypes.vcf.gz.log
src/1000gvcf/ALL.chr19.phase3_shapeit2_mvncall_integrated_v5a.20130502.genotypes.vcf.gz.log
src/1000gvcf/ALL.chr20.phase3_shapeit2_mvncall_integrated_v5a.20130502.genotypes.vcf.gz.log
src/1000gvcf/ALL.chr21.phase3_shapeit2_mvncall_integrated_v5a.20130502.genotypes.vcf.gz.log
src/1000gvcf/ALL.chr22.phase3_shapeit2_mvncall_integrated_v5a.20130502.genotypes.vcf.gz.log
src/d2utmpf7LTus
src/d2utmpCpPvuA
src/SSD_File.SSD_LOG.txt
src/SSD_File.SSD
src/Rplots.pdf
