
*.tbi
*.gz
/dependencies/*/
/dependencies/*
*.zip
*.bz2
dependencies/agilent.bed
*.swp
*.bgz
*.bed
*.jar
dependencies/1000Geuro.txt
*.so
src/agilent.bed
output/test.pdf
output/test
*.fasta
*.dict
*.fai
*.vcf
*.csi
*.idx
*.bedtoolsrun
src/=
*.7z
src/1000gvcf/hs_err_pid1164.log
src/march13th2018_option1_test.adj.fam
src/march13th2018_option1_test.vcf.2
src/march13th2018_option1_test.log
src/march13th2018_option1_test.vcf.noMissXY.log
src/march13th2018_option1_test.vcf.SetID
input/merge/temp/sedSiFwux
input/merge/temp/sede8QLgd
output/*
input/*
*.tmp
output/20180423_lowVShighHDLexome_option1a.SetID
output/20180423_lowVShighHDLexome_option1a.adj.fam
output/20180423_lowVShighHDLexome_option1a.log
output/20180423_lowVShighHDLexome_option1a.noMissXY.log
output/20180423_lowVShighHDLexome_option1a.bim
output/20180423_lowVShighHDLexome_option1a.fam
output/20180423_lowVShighHDLexome_option1a.noMissXY.map
output/20180423_lowVShighHDLexome_option1a.noMissXY.ped
output/20180423_lowVShighHDLexome_option1a.nosex
src/1000gvcf/tempcom
